
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 240, 183);
  display: flex;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: rgb(181, 209, 214);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 470px;
  min-height: 50vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  background-color: rgb(163, 226, 18);
  border-bottom: 1px solid rgb(173, 49, 49);
  padding: 20px 40px;
}

.header h2 {
  display: inline;
  margin-top: 0;
  margin-left: -20px;
}

.header span {
  margin-left: 101px;
}

.header a {
  text-decoration: none;
  color: blueviolet;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid whitesmoke;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  outline: none;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}

.form button {
  background-color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 4px;
  color: white;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.form a {
  text-decoration: none;
  color: blueviolet;
}